

<h1>Here are <%=@tag.name%> pics!</h1>
  <% @tag.pictures.each do |picture| %>
  <ul>
    <li><h2><%= picture.title %></li></h2>
    <h3><%= image_tag picture.image_url, style:"height: auto; width: 500px;"%></h3>
      </ul>
  <%end%>
