/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

 body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/57/00/6b/57006bb19a3b18cd24b7069ab8cbb297.jpg");
    background-color: #cccccc;
    // background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    // background-size: contain;
    // min-width: 100%;
    // min-height: 100%;
 }
